#app{
    width: 100vw;
    height: 100vh;
}




#leftmenu {
    width: 200px;
    height: 215px;
    background-color: #FFD662FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

#avatar {
    width: 65px;
    height: 90px;
    background-color: #00539CFF;
    position: relative;
    right: 20px;
    bottom: 40px;    
}


#logout {
    width: 50px;
    height: 25px;
    background-color: #00539cFF;
    position: relative;
    bottom: 72px;
}
